<nav class="navbar navbar-dark bg-dark">
    <div>
        <a href="/" class="navbar-brand">
            <label>Home</label>
        </a>
        <a href="/perguntar" class="navbar-brand">
            <label>Perguntar</label>
        </a>
    </div>
</nav>