<%- include ('partials/header.ejs') %>
<body>  
    <%- include ('partials/navbar.ejs')%> 
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Formulário de Perguntas</h1>    
            </div>
            <div class="card-body">
                <form method="POST" action="/receberpergunta">
                    <label>Pergunta:</label>
                    <input name="titulo" type="text" placeholder="Pergunte aqui" class="form-control">
                    <br>
                    <label>Descrição:</label>
                    <textarea name="descricao" type="text" placeholder="Descreva aqui" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-success">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs')%> 